.ml__details .pictureContainer {
	width: 680px;
	height: auto;
	position: relative;
	float: left;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 4px;
	margin: 32px 16px 32px 32px;
}

.ml__details .pictureContainer .contentImage {
	width: 70%;
	max-height: 680px;
	position: relative;
	margin: 0 auto;
	float: left;
}

.ml__details .pictureContainer .ant-image {
	width: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
}

.ml__details .contentGalery {
	width: 100px;
	height: auto;
	position: relative;
	margin-right: 20px;
	float: left;
}

.ml__details .contentGalery .galleryItem {
	width: 80px;
	height: 80px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border: 2px solid #eeeeee;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

.ml__details .contentGalery .galleryItem .othersSliders {
	text-align: center;
	font-size: 32px;
	position: relative;
	top: 14px;
}

.ml__details .contentGalery .galleryItem:hover {
	border: 2px solid #3483fa;
}

.ml__details .productDetails {
	width: 35%;
	height: auto;
	float: right;
}

.ml__details .aditionalInfo {
	width: 100%;
	height: auto;
	font-size: 14px;
	line-height: 14px;
	margin: 32px 0px 16px 0px;
}

.ml__details .productTitle {
	width: 100%;
	height: auto;
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 32px;
}

.ml__details .producPrice {
	width: 100%;
	height: auto;
	font-size: 46px;
	line-height: 46px;

	margin-bottom: 32px;
}

.ml__details .productDescription {
	max-width: 680px;
	margin-left: 32px;
	margin-bottom: 32px;
}

.ml__details .productDescription .descriptionTitle {
	width: 100%;
	height: auto;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 32px;
}

.ml__details .productDescription .descriptionInfo {
	width: 100%;
	height: auto;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 32px;
}

@media only screen and (max-width: 1180px) {
	.ml__details .pictureContainer {
		width: 60%;
		height: auto;
	}
}

@media only screen and (max-width: 992px) {
	.ml__details .productDetails {
		width: 30%;
		height: auto;
	}
	.ml__details .productTitle {
		font-size: 20px;
		line-height: 26px;
	}

	.ml__details .producPrice {
		font-size: 36px;
		line-height: 36px;
	}
	.ml__details .contentGalery {
		width: 60px;
	}
	.ml__details .contentGalery .galleryItem {
		width: 60px;
		height: 60px;
	}

	.ml__details .productDescription .descriptionTitle {
		font-size: 24px;
		line-height: 24px;
	}
	.ml__details .productDescription .descriptionInfo {
		font-size: 14px;
		line-height: 18px;
	}
	.ml__details .contentGalery .galleryItem .othersSliders {
		font-size: 26px;
		top: 7px;
	}
}

@media only screen and (max-width: 680px) {
	.ml__details .productDetails {
		width: 95%;
		margin-bottom: 30px;
	}
	.ml__details .productTitle {
		margin-bottom: 10px;
	}
	.ml__details .producPrice {
		margin-bottom: 20px;
	}

	.ml__details .productDescription {
		max-width: 90%;
		margin: 0 auto;
	}

	.ml__details .pictureContainer {
		width: 90%;
		height: auto;
		margin: 0 auto;
		float: none;
	}

	.ml__details .contentGalery {
		width: 40px;
	}
	.ml__details .contentGalery .galleryItem {
		width: 40px;
		height: 40px;
	}

	.ml__details .contentGalery .galleryItem .othersSliders {
		font-size: 18px;
		top: 4px;
	}
	.ml__details .pictureContainer .contentImage {
		width: 80%;
		max-height: 680px;
	}
}

@media only screen and (max-width: 380px) {
	.ml__details .pictureContainer .contentImage {
		width: 75%;
		height: auto;
	}
}
