.ml__searchBox {
	width: 100%;
	height: auto;
	position: relative;
}

.ml__searchBox img {
	width: 100%;
	height: auto;
}

.ml__searchBox .center_content {
	max-width: 1180px;
	height: auto;
	padding: 10px 0px 10px 0px;
	margin: 0 auto;
}

.ml__searchBox .center_content .logo {
	width: 50px;
	height: auto;
	margin-right: 20px;
	float: left;
	position: relative;
	z-index: 2;
}

.ml__searchBox .content_search {
	width: 90%;
	height: auto;
	position: relative;
	z-index: 1;
}

.ml__searchBox .closeIcon {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 6%;
	top: 8px;
	z-index: 99;
	cursor: pointer;
	color: #999999;
}
.ml__searchBox .closeIcon:hover {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 6%;
	top: 8px;
	z-index: 99;
	cursor: pointer;
	color: #3483fa;
}

.ml__searchBox .inputBlock {
	width: 90%;
	height: 35px;
	float: left;
	position: relative;
}

.ml__searchBox input {
	width: 100%;
	height: 35px;
	position: relative;
	padding: 10px;
	border: 0px;
}

.ml__searchBox input::placeholder {
	color: #999999;
}

.ml__searchBox input:focus {
	outline: none;
}

.ml__searchBox .searchBTN {
	width: 35px;
	height: 35px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	background-color: #eeeeee;
	border: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.ml__searchBox .searchBTN:hover {
	background-color: #3483fa;
	color: #fff;
}

.ml__searchBox .searchBTN:hover svg {
	color: #fff;
}

.ml__searchBox .searchBTN svg {
	position: relative;
	top: 5px;
}

.ml__searchBox .searchList {
	width: 100%;
	height: auto;
	background-color: #fff;
	position: absolute;
	top: 35px;
	border-top: 1px solid #eeeeee;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ml__searchBox Button {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.ml__searchBox .searchList li {
	width: 100%;
	height: auto;
	list-style: none;
	margin-bottom: 10px;
	padding: 10px 10px 10px 20px;
}

.ml__searchBox .searchList .suggestions {
	width: 100%;
	height: auto;
	padding: 10px 10px 10px 20px;
}

.ml__searchBox .searchList li svg {
	width: 12px;
	height: auto;
	margin-right: 10px;
	color: #999999;
}

.ml__searchBox .searchList li:hover {
	width: 100%;
	height: auto;
	list-style: none;
	margin-bottom: 10px;
	background-color: #3483fa;
	color: #fff;
}

.ml__searchBox .searchList li:hover svg {
	color: #fff;
}
