.navDetail {
	width: 100%;
	height: auto;
	position: relative;
	margin: 16px 0px 16px 0px;
	font-size: 14px;
	line-height: 14px;
}

.itemsResultscontent {
	width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 16px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 16px;
	box-shadow: rgba(0, 0, 0, 0) 1.95px 1.95px 2.6px;
}

.itemsResultscontent .freeshiping {
	width: 22px;
	height: 22px;
	display: inline-block;
	background-color: #1ed760;
	border-radius: 50%;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	position: relative;
	top: -3px;
}

.itemsResultscontent .freeshiping svg {
	position: relative;
	top: 2px;
}

.pulse {
	animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(30, 215, 96, 0.2);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(30, 215, 96, 0);
	}
}

.itemsResultscontent:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.itemsResultscontent .picture {
	width: 180px;
	height: 180px;
	position: relative;
	float: left;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 4px;
	margin-right: 16px;
}

.likeIcon {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: hsla(0, 0%, 100%, 0.7);
	right: 8px;
	top: 8px;
	position: absolute;
	color: #3483fa;
	text-align: center;
	font-size: 18px;
	opacity: 0;
}

.itemsResultscontent:hover .likeIcon {
	opacity: 1;
}

.likeIcon:hover {
	color: #ca2127;
}

.itemsResultscontent .likeIcon svg {
	position: relative;
	top: 3px;
}

.itemsResultscontent .productDetails {
	width: 60%;
	height: auto;
	position: relative;
	float: left;
}

.itemsResultscontent .productDetails .price {
	width: 100%;
	height: auto;
	position: relative;
	margin: 20px 0px 10px 0px;
	font-size: 32px;
	line-height: 32px;
}
.itemsResultscontent .productDetails .title {
	width: 100%;
	height: auto;
	position: relative;
	font-size: 18px;
	line-height: 18px;
}

.itemsResultscontent .productDetails .other_info {
	width: 100%;
	height: auto;
	position: relative;
	font-size: 18px;
	line-height: 18px;
}

.itemsResultscontent .seller_info {
	width: 20%;
	height: auto;
	position: relative;
	float: right;
	text-align: center;
	margin: 20px 0px 10px 0px;
	font-size: 12px;
	line-height: 12px;
}
