.ant-layout-sider {
	flex: 0 0 283px !important;
	max-width: 283px !important;
	min-width: 283px !important;
	width: 283px !important;
}

.ant-layout {
	background-color: #eeeeee !important;
}

.ant-empty {
	color: #999999 !important;
	margin-bottom: 30px !important;
}

.ant-skeleton {
	width: 80% !important;
	height: 80% !important;
}

.ant-skeleton-element .ant-skeleton-image {
	width: 100% !important;
	height: 100% !important;
}
