.btn__normal {
	width: 200px;
	height: auto;
	text-align: center;
	cursor: pointer;
	font-family: inter-bold;
	font-size: 14px;
	padding: 10px;
	border-radius: 6px;
}

.btn__normal_add {
	width: 160px;
	height: auto;
	text-align: right;
	cursor: pointer;
	font-family: inter-bold;
	font-size: 14px;
	padding: 10px 14px 10px 10px;
	border-radius: 6px;
	position: relative;
}

.btn__normal_add .iconAdd {
	width: 25px;
	height: 25px;
	position: absolute;
	border-radius: 6px;
	top: 8px;
}

.btn__normal_add .iconAdd svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.btn__blue {
	background-color: #ffffff;
	color: #339dff;
	border: 1px solid #339dff;
}

.btn__blue:hover {
	background-color: #339dff;
	color: #ffffff;
	border: 1px solid #339dff;
}

.btn__orange {
	background-color: #ffffff;
	color: #ef8727;
	border: 1px solid #ef8727;
}

.btn__orange:hover {
	background-color: #ef8727;
	color: #ffffff;
	border: 1px solid #ef8727;
}

.btn__white {
	color: #fff;
	border: 1px solid #ff002f;
	border-radius: 6px;
}

.btn__white .iconAdd {
	background-color: #ff002f;
	color: #ffffff;
}

.btn__white:hover {
	background-color: #ff002f;
	color: #ffffff;
	border: 1px solid #ff002f;
}

.btn__back {
	width: 142px;
	height: auto;
	text-align: center;
	cursor: pointer;
	font-family: inter-bold;
	font-size: 16px;
	padding: 10px;
	border-radius: 6px;
	position: relative;
}

.btn__icon_date {
	width: 300px;
	height: auto;
	cursor: pointer;
	font-family: inter-Regular;
	font-size: 16px;
	padding: 10px 10px 10px 30px;
	border-radius: 6px;
	position: relative;
}

.btn__icon_type_2 {
	height: auto;
	position: relative;
	padding: 6px;
	border-radius: 6px;
	cursor: pointer;
	font-family: inter-bold;
	font-size: 14px;
}

.btn__icon_type_2 .title {
	position: relative;
	top: 2px;
}

.btn__icon_type_2 .icon {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	text-align: center;
	float: left;
	margin-right: 10px;
	position: relative;
	cursor: pointer;
	padding-top: 3px;
}
